<h2 mat-dialog-title>Hi</h2>
<mat-dialog-content>
  <p>Nazwa</p>
  <mat-form-field>
    <mat-label>Nazwa</mat-label>
    <input required matInput  [(ngModel)]="name" />
    @if (errorMode) {
      <mat-hint>błędne dane</mat-hint>
    }
  </mat-form-field>
  <p>Hasło</p>
  <mat-form-field>
    <mat-label>Hasło</mat-label>
    <input required type="password" matInput [(ngModel)]="password" />
    @if (errorMode) {
      <mat-hint>błędne dane</mat-hint>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="resetAndClose()">Anuluj</button>
  <button mat-button cdkFocusInitial [disabled]="notEmpty()" (click)="login()">Zaloguj</button>
</mat-dialog-actions>
