<div class="products">

  <div class="product">
    <img src="https://cdn.pixabay.com/photo/2017/08/14/08/22/volleyball-2639700_960_720.jpg" alt="">
    <div class="text-box">
      <h3>Produkt 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum enim repellendus facilis nemo
        unde totam veniam minima iste voluptas...</p>
    </div>
    <div class="buttons" (click)="addToCart({id: 1, name: 'Produkt 1', price: 100})">
      <p>Cena: 100 zł</p>
      <span class="material-icons">add_shopping_cart</span>
    </div>
  </div>

  <div class="product">
    <img src="https://cdn.pixabay.com/photo/2016/05/09/11/09/tennis-1381230_960_720.jpg" alt="">
    <div class="text-box">
      <h3>Produkt 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum enim repellendus facilis nemo
        unde totam veniam minima iste voluptas...</p>
    </div>
    <div class="buttons" (click)="addToCart({id: 2, name: 'Produkt 2', price: 150})">
      <p>Cena: 150 zł</p>
      <span class="material-icons">add_shopping_cart</span>
    </div>
  </div>

  <div class="product">
    <img src="https://cdn.pixabay.com/photo/2023/04/17/10/31/tennis-7932067_960_720.jpg" alt="">
    <div class="text-box">
      <h3>Produkt 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum enim repellendus facilis nemo
        unde totam veniam minima iste voluptas...</p>
    </div>
    <div class="buttons" (click)="addToCart({id: 3, name: 'Produkt 3', price: 200})">
      <p>Cena: 200 zł</p>
      <span class="material-icons">add_shopping_cart</span>
    </div>
  </div>

</div>
