<p class="text-3xl font-bold underline">Siatkówka!</p>
<div class="box flex-col flex justify-center items-center">
  <div class="btns-box flex justify-space-between">
    <button class="w-50 mx-5" mat-button (click)="addNewScore()">Dodaj element</button>
    <button class="w-50 mx-5" mat-button (click)="removeScore()">Usuń element</button>
  </div>
  <div class="contaier flex flex-col m-10">
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Godzina</th>
          <th>Nazwa</th>
          <th>Numer Kortu</th>
          <th>Prowadzący</th>
        </tr>
      </thead>
      @for (game of siatkowkaService.agenda; track game.name) {
      <tr>
        <td>{{game.date}}</td>
        <td>{{game.hour}}</td>
        <td>{{game.name}}</td>
        <td>{{game.pitchNumber}}</td>
        <td>{{game.handler}}</td>
      </tr>
      }
    </table>
  </div>
</div>
<app-footer [email]="sectionEmail" />
